.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 40px;
  max-width: 800px;
  margin-top: 20px;
  gap: 15px;
}

.resultQuestion {
  font-size: 24px;
  padding: 20px 10px;
  margin: 0px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.resultOutsideContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.resultContainer h2 {
  display: inline-block;
  padding: 5px;
}

.resultContent {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.resultAnwerContent {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  gap: 20px;
}

.answerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
